In [1]:
import pandas as pd

In [2]:
address = pd.read_csv('data/address.csv')
company = pd.read_csv('data/company.csv')
contract_person = pd.read_csv('data/contact_person.csv')
contract_authority = pd.read_csv('data/contracting_authority.csv')
offer = pd.read_csv('data/offer.csv')
procurement = pd.read_csv('data/procurement.csv')

In [5]:
def basic_stats(df):
    display(df.shape)
    display(df.describe())
    print(f"Missing values for each column in %:")
    display(df.isna().sum() / df.shape[0] * 100)
    display(df.head(10))

In [6]:
basic_stats(address)

(3578, 9)

                id  land_registry_number     latitude    longitude
count  3578.000000           3432.000000  1982.000000  1982.000000
mean   1811.293740            899.398601    49.834196    15.506733
std    1036.345691            981.801996     0.424095     1.482787
min       1.000000              1.000000    48.144619    12.371860
25%     915.250000            189.000000    49.558013    14.428739
50%    1809.500000            567.000000    50.035616    14.514808
75%    2703.750000           1272.000000    50.088154    16.643086
max    3615.000000           7061.000000    50.906588    19.123288

Missing values for each column in %:

id                       0.000000
building_number         44.186696
city                     0.027949
country_code            38.457239
land_registry_number     4.080492
latitude                44.605925
longitude               44.605925
postal_code              0.950252
street                  13.834544
dtype: float64

,id,building_number,city,country_code,land_registry_number,latitude,longitude,postal_code,street
0,1,NaN,Praha,NaN,682.0,NaN,NaN,19016,Zalešanská
1,2,1,Praha,CZ,221.0,50.095041,14.403276,16000,Tychonova
2,3,NaN,České Budějovice,NaN,NaN,NaN,NaN,37005,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,91,Jablonec nad Nisou,CZ,4588.0,50.731404,15.174121,46601,Smetanova
5,6,NaN,Tetín,NaN,1.0,NaN,NaN,26601,náměstí Kněžny Ludmily
6,7,NaN,Pardubice,NaN,107.0,NaN,NaN,53002,NaN
7,8,NaN,Helvíkovice,NaN,90.0,NaN,NaN,56401,NaN
8,9,58,Praha,CZ,1552.0,50.049737,14.458768,14100,Michelská
9,10,NaN,"Klatovy, 339 01",NaN,NaN,NaN,NaN,NaN,Ostravská 169

In [7]:
basic_stats(company)

(3674, 5)

                id  organisation_id   address_id
count  3674.000000     3.591000e+03  3674.000000
mean   1860.324714     2.978224e+07  1701.784703
std    1061.039946     1.954525e+07  1076.105654
min       1.000000     4.930000e+02     1.000000
25%     942.250000     1.496256e+07   755.750000
50%    1860.500000     2.668712e+07  1680.000000
75%    2778.750000     4.495440e+07  2630.750000
max    3697.000000     8.885864e+07  3615.000000

Missing values for each column in %:

id                  0.000000
vat_id_number      44.011976
company_name        0.000000
organisation_id     2.259118
address_id          0.000000
dtype: float64

,id,vat_id_number,company_name,organisation_id,address_id
0,1,CZ7303070038,Dušan Pirc,66442460.0,1
1,2,CZ26031868,CB Auto a.s.,26031868.0,3
2,3,NaN,Pes profesionál s. r. o.,3566358.0,4
3,4,CZ62738542,Severočeské komunální služby s.r.o.,62738542.0,5
4,5,CZ47538856,JOHNNY SERVIS s.r.o.,47538856.0,6
5,6,NaN,Explosia a.s.,25291581.0,7
6,7,CZ25286366,Dibaq a.s.,25286366.0,8
7,8,NaN,Royal Canin Czech & Slovak Republics s.r.o.,24663913.0,9
8,9,NaN,RC-eltech s.r.o.,6909981.0,10
9,10,NaN,Lada Tittlová,NaN,4

vat_id_number - DIČ
organisation_id - IČO

In [8]:
basic_stats(contract_person)

(1121, 5)

                id  contracting_authority_id
count  1121.000000               1121.000000
mean    603.198037                146.794826
std     328.453693                133.305767
min       1.000000                  1.000000
25%     321.000000                  7.000000
50%     601.000000                111.000000
75%     881.000000                239.000000
max    1183.000000                484.000000

Missing values for each column in %:

id                          0.0
email                       0.0
name                        0.0
surname                     0.0
contracting_authority_id    0.0
dtype: float64

,id,email,name,surname,contracting_authority_id
0,1,matyasovaa@army.cz,Andrea,Matyášová,1
1,2,Igor.Mathias@army.cz,Igor,Mathias,1
2,3,karchp@army.cz,Pavel,Karch,1
3,4,mistostarosta@obecbudetice.cz,Pavel,Huda,2
4,5,straka@nemobk.cz,Antonín,Straka,3
5,6,eva.sikova@ikem.cz,Eva,Siková,4
6,7,mlakovad@army.cz,Dana,Mlaková,1
7,8,skurekz@army.cz,Zdeněk,Škůrek,1
8,9,monika.dedicova@firebrno.cz,Monika,Dědičová,5
9,10,tatana.chajmova@cuzk.cz,Taťána,Chajmová,6

In [11]:
basic_stats(contract_authority)

(421, 4)

               id   address_id
count  421.000000   421.000000
mean   255.757720  1533.133017
std    125.491237  1021.438673
min      1.000000     2.000000
25%    150.000000   622.000000
50%    255.000000  1431.000000
75%    360.000000  2429.000000
max    484.000000  3606.000000

Missing values for each column in %:

id                            0.000000
contracting_authority_name    0.000000
url                           8.313539
address_id                    0.000000
dtype: float64

,id,contracting_authority_name,url,address_id
0,1,Ministerstvo obrany,https://nen.nipez.cz/profil/MO,2
1,2,Obec Budětice,https://nen.nipez.cz/profil/obecbudetice,11
2,3,Nemocnice Blansko,https://nen.nipez.cz/profil/NemocniceBlansko,13
3,4,Institut klinické a experimentální medicíny,https://nen.nipez.cz/profil/ikem,17
4,5,Hasičský záchranný sbor Jihomoravského kraje,https://nen.nipez.cz/profil/HZSJmK,24
5,6,Zeměměřický úřad,https://nen.nipez.cz/profil/ZU,26
6,7,"Ředitelství silnic Zlínského kraje,příspěvková...",https://nen.nipez.cz/profil/RSZK,28
7,52,Hasičský záchranný sbor Středočeského kraje,https://nen.nipez.cz/profil/STC,53
8,53,Město Nová Včelnice,https://nen.nipez.cz/profil/novavcelnice,55
9,54,Město Lipník nad Bečvou,https://nen.nipez.cz/profil/mestolipnik,59

In [12]:
basic_stats(offer)

(9245, 8)

                id         price     price_vat   company_id  procurement_id
count  9245.000000  7.896000e+03  7.900000e+03  9245.000000     9245.000000
mean   4651.419362  8.438423e+07  1.017015e+08  1183.305679     2384.309465
std    2676.688056  2.562514e+09  3.100194e+09  1011.543866     1351.703446
min       1.000000  0.000000e+00  0.000000e+00     1.000000        1.000000
25%    2335.000000  1.804650e+04  2.163843e+04   300.000000     1239.000000
50%    4646.000000  1.530058e+05  1.740371e+05   868.000000     2370.000000
75%    6959.000000  1.149339e+06  1.212226e+06  1893.000000     3533.000000
max    9296.000000  1.145797e+11  1.386414e+11  3696.000000     4746.000000

Missing values for each column in %:

id                              0.000000
is_association_of_suppliers     0.000000
is_rejected_due_too_low         0.000000
is_withdrawn                    0.000000
price                          14.591671
price_vat                      14.548405
company_id                      0.000000
procurement_id                  0.000000
dtype: float64

,id,is_association_of_suppliers,is_rejected_due_too_low,is_withdrawn,price,price_vat,company_id,procurement_id
0,1,True,False,False,0.00,0.00,1,1
1,2,False,False,False,9832.02,11897.00,2,2
2,3,False,False,False,130000.00,130000.00,3,3
3,4,True,False,False,0.00,0.00,4,4
4,5,False,False,False,8468.00,9314.80,5,5
5,6,False,False,False,90525.00,109535.25,6,6
6,7,False,False,False,0.00,0.00,7,7
7,8,True,False,False,0.00,0.00,8,8
8,9,False,False,False,130000.00,130000.00,10,10
9,10,False,False,False,NaN,NaN,12,11

is_association_of_suppliers - Sdružení dodavatelů
is_rejected_due_too_low - Nabídka byla zamítnuta, vzhledem k mimořádně nízké ceně
is_withdrawn - Nabídka byla stáhnuta ze strany účastníka
company_id - id účastníka
procurement_id - id zúčastněné zakázky

In [13]:
basic_stats(procurement)

(4675, 20)

,id,contract_price,contract_price_vat,contract_price_with_amendments,contract_price_with_amendments_vat,contact_person_id,contracting_authority_id,supplier_id
count,4675.000000,4.675000e+03,4.675000e+03,4.675000e+03,4.675000e+03,4675.000000,4675.000000,4675.000000
mean,2373.381604,6.949599e+06,9.740506e+10,7.032596e+06,9.740516e+10,454.022674,88.445775,1231.234652
std,1361.882448,5.382124e+07,6.659077e+12,5.435479e+07,6.659077e+12,310.835333,115.396351,1048.143363
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,1.000000,1.000000
25%,1196.500000,1.145000e+04,1.383635e+04,1.145000e+04,1.383635e+04,193.000000,1.000000,309.500000
50%,2365.000000,1.147670e+05,1.346089e+05,1.147670e+05,1.346089e+05,415.000000,52.000000,930.000000
75%,3534.500000,8.744530e+05,1.051344e+06,8.744530e+05,1.051344e+06,695.000000,146.500000,2016.000000
max,4746.000000,1.505337e+09,4.553075e+14,1.505337e+09,4.553075e+14,1183.000000,484.000000,3697.000000

Missing values for each column in %:

id                                     0.000000
bids_submission_deadline              52.834225
code_from_nipez_codelist               6.631016
contract_price                         0.000000
contract_price_vat                     0.000000
contract_price_with_amendments         0.000000
contract_price_with_amendments_vat     0.000000
date_of_contract_close                 0.064171
date_of_publication                    6.951872
is_association_of_suppliers            0.000000
procurement_name                       0.000000
name_from_nipez_codelist               6.631016
place_of_performance                  10.930481
public_contract_regime                38.374332
system_number                          0.000000
type                                   0.085561
type_of_procedure                      0.000000
contact_person_id                      0.000000
contracting_authority_id               0.000000
supplier_id                            0.000000
dtype: float64

,id,bids_submission_deadline,code_from_nipez_codelist,contract_price,contract_price_vat,contract_price_with_amendments,contract_price_with_amendments_vat,date_of_contract_close,date_of_publication,is_association_of_suppliers,procurement_name,name_from_nipez_codelist,place_of_performance,public_contract_regime,system_number,type,type_of_procedure,contact_person_id,contracting_authority_id,supplier_id
0,1,NaN,15710000-8,38973.48,44820.00,38973.48,44820.00,2022-03-02,2022-03-02,False,Výzva k rámcové dohodě č. 12/2022,Průmyslová krmiva pro hospodářská a jiná zvířata,Liberecký kraj,NaN,N006/22/V00004456,Public contract for deliveries,Zadávání VZ na základě rámcové dohody bez obno...,1,1,1
1,2,NaN,50110000-9,9832.02,11896.74,9832.02,11896.74,2023-11-23,2023-11-30,False,DP-RD Prohlídka s výměnou oleje Š-Karoq 4x4 VP...,Opravy a údržba motorových vozidel a příslušen...,Jihočeský kraj,NaN,N006/23/V00033550,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,2,1,2
2,3,NaN,NaN,130000.00,130000.00,130000.00,130000.00,2022-02-24,2022-03-02,False,Nákup služebního psa 24. 2. 2022 - hlídkový ob...,NaN,NaN,Small-scale public contract,N006/22/V00004676,Public contract for deliveries,Otevřená výzva,1,1,3
3,4,NaN,90511000-2,26580.00,32161.80,26580.00,32161.80,2022-03-07,2022-03-07,False,Výzva k rámcové dohodě č. 14/2022,Sběr odpadu,Liberecký kraj,NaN,N006/22/V00004924,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,1,1,4
4,5,NaN,90500000-2,8468.00,9314.80,8468.00,9314.80,2023-10-24,2023-10-24,False,RD 2022/25 Servis mobilních toalet 16. dp,Služby související s likvidací odpadů a odpady,Středočeský kraj,NaN,N006/23/V00030140,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,3,1,5
5,6,NaN,24612000-7,90525.00,109535.25,90525.00,109535.25,2022-03-31,2022-04-01,False,Výzva k rámcové dohodě č. 17/2022,Různé výbušniny,Liberecký kraj,NaN,N006/22/V00007031,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,1,1,6
6,7,NaN,15710000-8,103600.35,119141.40,103600.35,119141.40,2022-04-01,2022-04-01,False,Výzva k rámcové dohodě č. 21/2022,Průmyslová krmiva pro hospodářská a jiná zvířata,Liberecký kraj,NaN,N006/22/V00007590,Public contract for deliveries,Zadávání VZ na základě rámcové dohody bez obno...,1,1,7
7,8,NaN,15710000-8,23508.00,27034.20,23508.00,27034.20,2022-04-28,2022-05-03,False,Výzva k rámcové dohodě č. 23/2022,Průmyslová krmiva pro hospodářská a jiná zvířata,Liberecký kraj,NaN,N006/22/V00009380,Public contract for deliveries,Zadávání VZ na základě rámcové dohody bez obno...,1,1,8
8,9,NaN,45000000-7,1078673.00,1305194.33,1078673.00,1305194.33,2023-11-24,2023-11-30,False,"Oprava vodních zdrojů Budětice, Vlkonice",Stavební práce,Plzeňský kraj,Small-scale public contract,N006/23/V00034233,Public contract for construction work,Uzavřená výzva,4,2,9
9,10,NaN,03322000-2,130000.00,130000.00,130000.00,130000.00,2022-03-31,2022-04-21,False,Nákup služebního psa 31. 3. 2021 speciální pac...,Hospodářská zvířata,NaN,Small-scale public contract,N006/22/V00009384,Public contract for deliveries,Otevřená výzva,1,1,10

bids_submission_deadline - deadline pro podání nabídek, pokud byl zveřejněn
code_from_nipez_codelist - NIPEZ kód
contract_price_with_amendments - výsledná cena zakázky s dodatky - změny jsou omezeny podle §222 (nesmí překročit 10% popř. 15% pro stavební práce - možná anomálie?
date_of_contract_close - datum uzavření smlouvy s výhercem
date_of_publication - datum zveřejnění na portálu
public_contract_regime - režim veřejné zakázky - od něj se odvíjí pravidla pro určování ceny, zda-li je nutné zveřejňovat zakázku atd..

In [16]:
procurement['public_contract_regime'].unique()

array([nan, 'Small-scale public contract', 'Above-limit public contract',
       'Below-limit public contract', 'Zjednodušený režim',
       'Small-scale concession',
       'Below-threshold public procurement besides the procurement procedure'],
      dtype=object)

type - typ veřejné zakázky (služby, stavební práce, dodávky) nebo koncese (stavební práce, služby)

In [17]:
procurement['type'].unique()

array(['Public contract for deliveries', 'Public contract for services',
       'Public contract for construction work', 'Service concessions',
       'Concession for construction works', nan], dtype=object)

type_of_procedure - druh zadávacího postupu

In [18]:
procurement['type_of_procedure'].unique()

array(['Zadávání VZ na základě rámcové dohody bez obnovení soutěže (mimo zadávací řízení)',
       'Otevřená výzva', 'Uzavřená výzva', 'Otevřené řízení',
       'Přímé zadání', 'Zjednodušené podlimitní řízení',
       'Zadávání VZ na základě rámcové dohody s obnovením soutěže (mimo zadávací řízení)',
       'Zadávání VZ na základě rámcové dohody bez obnovení soutěže na základě zadávacího řízení',
       'Zadávání VZ na základě rámcové dohody s obnovením soutěže na základě zadávacího řízení',
       'Užší řízení', 'Jednací řízení s uveřejněním', 'Zadávání VZ v DNS',
       'Jednací řízení bez uveřejnění',
       'Řízení pro zadání veřejné zakázky ve zjednodušeném režimu',
       'Řízení se soutěžním dialogem', 'E-aukce malého rozsahu',
       'Zadávání VZ na základě RS s jedním uchazečem v režimu ZVZ',
       'Zadávání VZ na základě RS s jedním uchazečem (mimo režim ZVZ)',
       'Zadávání VZ na základě RS s více uchazeči (mimo režim ZVZ)'],
      dtype=object)