In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
address = pd.read_csv('data/address.csv')
company = pd.read_csv('data/company.csv')
contract_person = pd.read_csv('data/contact_person.csv')
contract_authority = pd.read_csv('data/contracting_authority.csv')
offer = pd.read_csv('data/offer.csv')
procurement = pd.read_csv('data/procurement.csv')

In [3]:
def basic_stats(df):
    display(df.shape)
    display(df.describe())
    print(f"Missing values in %:")
    display(df.isna().sum() / df.shape[0] * 100)
    display(df.head(10))

In [4]:
basic_stats(address)

(3578, 9)

                id  land_registry_number     latitude    longitude
count  3578.000000           3432.000000  1982.000000  1982.000000
mean   1811.293740            899.398601    49.834196    15.506733
std    1036.345691            981.801996     0.424095     1.482787
min       1.000000              1.000000    48.144619    12.371860
25%     915.250000            189.000000    49.558013    14.428739
50%    1809.500000            567.000000    50.035616    14.514808
75%    2703.750000           1272.000000    50.088154    16.643086
max    3615.000000           7061.000000    50.906588    19.123288

Missing values in %:

id                       0.000000
building_number         44.186696
city                     0.027949
country_code            38.457239
land_registry_number     4.080492
latitude                44.605925
longitude               44.605925
postal_code              0.950252
street                  13.834544
dtype: float64

,id,building_number,city,country_code,land_registry_number,latitude,longitude,postal_code,street
0,1,NaN,Praha,NaN,682.0,NaN,NaN,19016,Zalešanská
1,2,1,Praha,CZ,221.0,50.095041,14.403276,16000,Tychonova
2,3,NaN,České Budějovice,NaN,NaN,NaN,NaN,37005,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,91,Jablonec nad Nisou,CZ,4588.0,50.731404,15.174121,46601,Smetanova
5,6,NaN,Tetín,NaN,1.0,NaN,NaN,26601,náměstí Kněžny Ludmily
6,7,NaN,Pardubice,NaN,107.0,NaN,NaN,53002,NaN
7,8,NaN,Helvíkovice,NaN,90.0,NaN,NaN,56401,NaN
8,9,58,Praha,CZ,1552.0,50.049737,14.458768,14100,Michelská
9,10,NaN,"Klatovy, 339 01",NaN,NaN,NaN,NaN,NaN,Ostravská 169

In [5]:
basic_stats(company)

(3674, 5)

                id  organisation_id   address_id
count  3674.000000     3.591000e+03  3674.000000
mean   1860.324714     2.978224e+07  1701.784703
std    1061.039946     1.954525e+07  1076.105654
min       1.000000     4.930000e+02     1.000000
25%     942.250000     1.496256e+07   755.750000
50%    1860.500000     2.668712e+07  1680.000000
75%    2778.750000     4.495440e+07  2630.750000
max    3697.000000     8.885864e+07  3615.000000

Missing values in %:

id                  0.000000
vat_id_number      44.011976
company_name        0.000000
organisation_id     2.259118
address_id          0.000000
dtype: float64

,id,vat_id_number,company_name,organisation_id,address_id
0,1,CZ7303070038,Dušan Pirc,66442460.0,1
1,2,CZ26031868,CB Auto a.s.,26031868.0,3
2,3,NaN,Pes profesionál s. r. o.,3566358.0,4
3,4,CZ62738542,Severočeské komunální služby s.r.o.,62738542.0,5
4,5,CZ47538856,JOHNNY SERVIS s.r.o.,47538856.0,6
5,6,NaN,Explosia a.s.,25291581.0,7
6,7,CZ25286366,Dibaq a.s.,25286366.0,8
7,8,NaN,Royal Canin Czech & Slovak Republics s.r.o.,24663913.0,9
8,9,NaN,RC-eltech s.r.o.,6909981.0,10
9,10,NaN,Lada Tittlová,NaN,4

In [6]:
basic_stats(contract_person)

(1121, 5)

                id  contracting_authority_id
count  1121.000000               1121.000000
mean    603.198037                146.794826
std     328.453693                133.305767
min       1.000000                  1.000000
25%     321.000000                  7.000000
50%     601.000000                111.000000
75%     881.000000                239.000000
max    1183.000000                484.000000

Missing values in %:

id                          0.0
email                       0.0
name                        0.0
surname                     0.0
contracting_authority_id    0.0
dtype: float64

,id,email,name,surname,contracting_authority_id
0,1,matyasovaa@army.cz,Andrea,Matyášová,1
1,2,Igor.Mathias@army.cz,Igor,Mathias,1
2,3,karchp@army.cz,Pavel,Karch,1
3,4,mistostarosta@obecbudetice.cz,Pavel,Huda,2
4,5,straka@nemobk.cz,Antonín,Straka,3
5,6,eva.sikova@ikem.cz,Eva,Siková,4
6,7,mlakovad@army.cz,Dana,Mlaková,1
7,8,skurekz@army.cz,Zdeněk,Škůrek,1
8,9,monika.dedicova@firebrno.cz,Monika,Dědičová,5
9,10,tatana.chajmova@cuzk.cz,Taťána,Chajmová,6

In [7]:
basic_stats(contract_authority)

(421, 4)

               id   address_id
count  421.000000   421.000000
mean   255.757720  1533.133017
std    125.491237  1021.438673
min      1.000000     2.000000
25%    150.000000   622.000000
50%    255.000000  1431.000000
75%    360.000000  2429.000000
max    484.000000  3606.000000

Missing values in %:

id                            0.000000
contracting_authority_name    0.000000
url                           8.313539
address_id                    0.000000
dtype: float64

,id,contracting_authority_name,url,address_id
0,1,Ministerstvo obrany,https://nen.nipez.cz/profil/MO,2
1,2,Obec Budětice,https://nen.nipez.cz/profil/obecbudetice,11
2,3,Nemocnice Blansko,https://nen.nipez.cz/profil/NemocniceBlansko,13
3,4,Institut klinické a experimentální medicíny,https://nen.nipez.cz/profil/ikem,17
4,5,Hasičský záchranný sbor Jihomoravského kraje,https://nen.nipez.cz/profil/HZSJmK,24
5,6,Zeměměřický úřad,https://nen.nipez.cz/profil/ZU,26
6,7,"Ředitelství silnic Zlínského kraje,příspěvková...",https://nen.nipez.cz/profil/RSZK,28
7,52,Hasičský záchranný sbor Středočeského kraje,https://nen.nipez.cz/profil/STC,53
8,53,Město Nová Včelnice,https://nen.nipez.cz/profil/novavcelnice,55
9,54,Město Lipník nad Bečvou,https://nen.nipez.cz/profil/mestolipnik,59

In [8]:
basic_stats(offer)

(9245, 8)

                id         price     price_vat   company_id  procurement_id
count  9245.000000  7.896000e+03  7.900000e+03  9245.000000     9245.000000
mean   4651.419362  8.438423e+07  1.017015e+08  1183.305679     2384.309465
std    2676.688056  2.562514e+09  3.100194e+09  1011.543866     1351.703446
min       1.000000  0.000000e+00  0.000000e+00     1.000000        1.000000
25%    2335.000000  1.804650e+04  2.163843e+04   300.000000     1239.000000
50%    4646.000000  1.530058e+05  1.740371e+05   868.000000     2370.000000
75%    6959.000000  1.149339e+06  1.212226e+06  1893.000000     3533.000000
max    9296.000000  1.145797e+11  1.386414e+11  3696.000000     4746.000000

Missing values in %:

id                              0.000000
is_association_of_suppliers     0.000000
is_rejected_due_too_low         0.000000
is_withdrawn                    0.000000
price                          14.591671
price_vat                      14.548405
company_id                      0.000000
procurement_id                  0.000000
dtype: float64

,id,is_association_of_suppliers,is_rejected_due_too_low,is_withdrawn,price,price_vat,company_id,procurement_id
0,1,True,False,False,0.00,0.00,1,1
1,2,False,False,False,9832.02,11897.00,2,2
2,3,False,False,False,130000.00,130000.00,3,3
3,4,True,False,False,0.00,0.00,4,4
4,5,False,False,False,8468.00,9314.80,5,5
5,6,False,False,False,90525.00,109535.25,6,6
6,7,False,False,False,0.00,0.00,7,7
7,8,True,False,False,0.00,0.00,8,8
8,9,False,False,False,130000.00,130000.00,10,10
9,10,False,False,False,NaN,NaN,12,11

In [9]:
basic_stats(procurement)

(4675, 20)

,id,contract_price,contract_price_vat,contract_price_with_amendments,contract_price_with_amendments_vat,contact_person_id,contracting_authority_id,supplier_id
count,4675.000000,4.675000e+03,4.675000e+03,4.675000e+03,4.675000e+03,4675.000000,4675.000000,4675.000000
mean,2373.381604,6.949599e+06,9.740506e+10,7.032596e+06,9.740516e+10,454.022674,88.445775,1231.234652
std,1361.882448,5.382124e+07,6.659077e+12,5.435479e+07,6.659077e+12,310.835333,115.396351,1048.143363
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,1.000000,1.000000
25%,1196.500000,1.145000e+04,1.383635e+04,1.145000e+04,1.383635e+04,193.000000,1.000000,309.500000
50%,2365.000000,1.147670e+05,1.346089e+05,1.147670e+05,1.346089e+05,415.000000,52.000000,930.000000
75%,3534.500000,8.744530e+05,1.051344e+06,8.744530e+05,1.051344e+06,695.000000,146.500000,2016.000000
max,4746.000000,1.505337e+09,4.553075e+14,1.505337e+09,4.553075e+14,1183.000000,484.000000,3697.000000

Missing values in %:

id                                     0.000000
bids_submission_deadline              52.834225
code_from_nipez_codelist               6.631016
contract_price                         0.000000
contract_price_vat                     0.000000
contract_price_with_amendments         0.000000
contract_price_with_amendments_vat     0.000000
date_of_contract_close                 0.064171
date_of_publication                    6.951872
is_association_of_suppliers            0.000000
procurement_name                       0.000000
name_from_nipez_codelist               6.631016
place_of_performance                  10.930481
public_contract_regime                38.374332
system_number                          0.000000
type                                   0.085561
type_of_procedure                      0.000000
contact_person_id                      0.000000
contracting_authority_id               0.000000
supplier_id                            0.000000
dtype: float64

,id,bids_submission_deadline,code_from_nipez_codelist,contract_price,contract_price_vat,contract_price_with_amendments,contract_price_with_amendments_vat,date_of_contract_close,date_of_publication,is_association_of_suppliers,procurement_name,name_from_nipez_codelist,place_of_performance,public_contract_regime,system_number,type,type_of_procedure,contact_person_id,contracting_authority_id,supplier_id
0,1,NaN,15710000-8,38973.48,44820.00,38973.48,44820.00,2022-03-02,2022-03-02,False,Výzva k rámcové dohodě č. 12/2022,Průmyslová krmiva pro hospodářská a jiná zvířata,Liberecký kraj,NaN,N006/22/V00004456,Public contract for deliveries,Zadávání VZ na základě rámcové dohody bez obno...,1,1,1
1,2,NaN,50110000-9,9832.02,11896.74,9832.02,11896.74,2023-11-23,2023-11-30,False,DP-RD Prohlídka s výměnou oleje Š-Karoq 4x4 VP...,Opravy a údržba motorových vozidel a příslušen...,Jihočeský kraj,NaN,N006/23/V00033550,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,2,1,2
2,3,NaN,NaN,130000.00,130000.00,130000.00,130000.00,2022-02-24,2022-03-02,False,Nákup služebního psa 24. 2. 2022 - hlídkový ob...,NaN,NaN,Small-scale public contract,N006/22/V00004676,Public contract for deliveries,Otevřená výzva,1,1,3
3,4,NaN,90511000-2,26580.00,32161.80,26580.00,32161.80,2022-03-07,2022-03-07,False,Výzva k rámcové dohodě č. 14/2022,Sběr odpadu,Liberecký kraj,NaN,N006/22/V00004924,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,1,1,4
4,5,NaN,90500000-2,8468.00,9314.80,8468.00,9314.80,2023-10-24,2023-10-24,False,RD 2022/25 Servis mobilních toalet 16. dp,Služby související s likvidací odpadů a odpady,Středočeský kraj,NaN,N006/23/V00030140,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,3,1,5
5,6,NaN,24612000-7,90525.00,109535.25,90525.00,109535.25,2022-03-31,2022-04-01,False,Výzva k rámcové dohodě č. 17/2022,Různé výbušniny,Liberecký kraj,NaN,N006/22/V00007031,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,1,1,6
6,7,NaN,15710000-8,103600.35,119141.40,103600.35,119141.40,2022-04-01,2022-04-01,False,Výzva k rámcové dohodě č. 21/2022,Průmyslová krmiva pro hospodářská a jiná zvířata,Liberecký kraj,NaN,N006/22/V00007590,Public contract for deliveries,Zadávání VZ na základě rámcové dohody bez obno...,1,1,7
7,8,NaN,15710000-8,23508.00,27034.20,23508.00,27034.20,2022-04-28,2022-05-03,False,Výzva k rámcové dohodě č. 23/2022,Průmyslová krmiva pro hospodářská a jiná zvířata,Liberecký kraj,NaN,N006/22/V00009380,Public contract for deliveries,Zadávání VZ na základě rámcové dohody bez obno...,1,1,8
8,9,NaN,45000000-7,1078673.00,1305194.33,1078673.00,1305194.33,2023-11-24,2023-11-30,False,"Oprava vodních zdrojů Budětice, Vlkonice",Stavební práce,Plzeňský kraj,Small-scale public contract,N006/23/V00034233,Public contract for construction work,Uzavřená výzva,4,2,9
9,10,NaN,03322000-2,130000.00,130000.00,130000.00,130000.00,2022-03-31,2022-04-21,False,Nákup služebního psa 31. 3. 2021 speciální pac...,Hospodářská zvířata,NaN,Small-scale public contract,N006/22/V00009384,Public contract for deliveries,Otevřená výzva,1,1,10

In [10]:
num_of_offers = (offer['procurement_id'].value_counts()).to_frame()
num_of_offers.rename(columns={"count": "number_of_offers"}, inplace=True)

In [11]:
offer_with_counts = pd.merge(offer, num_of_offers, on='procurement_id', how='outer')

In [12]:
df_for_pred = pd.merge(offer_with_counts, procurement, left_on='procurement_id', right_on='id', how='left')

In [13]:
df_for_pred['is_winner'] = (df_for_pred['company_id'] == df_for_pred['supplier_id'])

In [14]:
df_for_pred.drop(columns=['id_y', 'procurement_id'], inplace=True)

In [15]:
df_for_pred = pd.merge(df_for_pred, company, left_on='company_id', right_on='id', how='left')

In [16]:
df_for_pred.drop(columns=['id'], inplace=True)

In [17]:
df_for_pred.drop(columns=['supplier_id', 'id_x', 'procurement_name', 'name_from_nipez_codelist', 'system_number', 'vat_id_number', 'company_name'], inplace=True)

In [18]:
df_for_pred = pd.merge(df_for_pred, contract_authority, left_on='contracting_authority_id', right_on='id', how='left')

In [19]:
import numpy as np
from numpy import pi, sqrt
from math import sin, cos, atan2, radians

In [20]:
def get_distance(id_company, id_contracter):
    company_address = address.loc[address['id'] == id_company]
    contracter_address = address.loc[address['id'] == id_contracter]
    try:
        lat1 = radians(company_address.latitude.iloc[0])
        lat2 = radians(contracter_address.latitude.iloc[0])
        lon1 = radians(company_address.longitude.iloc[0])
        lon2 = radians(contracter_address.longitude.iloc[0])
        R = 6371
        diff_lat = abs(lat1 - lat2)
        diff_log = abs(lon1 - lon2)
        a = sin(diff_lat/2)**2 + cos(lat1) * cos(lat2) * sin(diff_log/2)**2
        c = 2 * atan2(sqrt(a), sqrt(1 - a))
        return R * c
    except:
        return np.NAN

In [21]:
display(get_distance(1, 5))

nan

In [22]:
address

,id,building_number,city,country_code,land_registry_number,latitude,longitude,postal_code,street
0,1,NaN,Praha,NaN,682.0,NaN,NaN,19016,Zalešanská
1,2,1,Praha,CZ,221.0,50.095041,14.403276,16000,Tychonova
2,3,NaN,České Budějovice,NaN,NaN,NaN,NaN,37005,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,91,Jablonec nad Nisou,CZ,4588.0,50.731404,15.174121,46601,Smetanova
...,...,...,...,...,...,...,...,...,...
3573,3611,NaN,Nové Sedlo,NaN,528.0,NaN,NaN,35734,NaN
3574,3612,9,Jeseník,CZ,449.0,50.218411,17.189013,79001,Za Podjezdem
3575,3613,20,Třešť,CZ,3.0,49.292500,15.484094,58901,5. května
3576,3614,10,Karlovy Vary,CZ,264.0,50.247251,12.833518,36017,U Hřiště
3577,3615,7,Praha,CZ,373.0,50.102403,14.424936,17000,U akademie

In [23]:
df_for_pred

,is_association_of_suppliers_x,is_rejected_due_too_low,is_withdrawn,price,price_vat,company_id,number_of_offers,bids_submission_deadline,code_from_nipez_codelist,contract_price,...,type_of_procedure,contact_person_id,contracting_authority_id,is_winner,organisation_id,address_id_x,id,contracting_authority_name,url,address_id_y
0,True,False,False,0.00,0.00,1,1,NaN,15710000-8,38973.48,...,Zadávání VZ na základě rámcové dohody bez obno...,1,1,True,66442460.0,1,1,Ministerstvo obrany,https://nen.nipez.cz/profil/MO,2
1,False,False,False,9832.02,11897.00,2,1,NaN,50110000-9,9832.02,...,Zadávání VZ na základě rámcové dohody bez obno...,2,1,True,26031868.0,3,1,Ministerstvo obrany,https://nen.nipez.cz/profil/MO,2
2,False,False,False,130000.00,130000.00,3,1,NaN,NaN,130000.00,...,Otevřená výzva,1,1,True,3566358.0,4,1,Ministerstvo obrany,https://nen.nipez.cz/profil/MO,2
3,True,False,False,0.00,0.00,4,1,NaN,90511000-2,26580.00,...,Zadávání VZ na základě rámcové dohody bez obno...,1,1,True,62738542.0,5,1,Ministerstvo obrany,https://nen.nipez.cz/profil/MO,2
4,False,False,False,8468.00,9314.80,5,1,NaN,90500000-2,8468.00,...,Zadávání VZ na základě rámcové dohody bez obno...,3,1,True,47538856.0,6,1,Ministerstvo obrany,https://nen.nipez.cz/profil/MO,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9240,False,False,False,138514.50,167602.55,536,2,NaN,39141000-2,75752.00,...,Zadávání VZ na základě rámcové dohody s obnove...,647,261,False,5960657.0,597,261,Hasičský záchranný sbor Libereckého kraje,https://nen.nipez.cz/profil/HZS_LK,1553
9241,False,False,False,75752.00,91659.92,118,2,NaN,39141000-2,75752.00,...,Zadávání VZ na základě rámcové dohody s obnove...,647,261,True,45790604.0,129,261,Hasičský záchranný sbor Libereckého kraje,https://nen.nipez.cz/profil/HZS_LK,1553
9242,False,False,False,1184815.00,1433626.15,283,3,NaN,30213100-6,1184815.00,...,Zadávání VZ na základě rámcové dohody s obnove...,1143,110,True,25403435.0,303,110,Ministerstvo vnitra,https://nen.nipez.cz/profil/MVCR,441
9243,False,False,False,1189575.00,1439385.75,263,3,NaN,30213100-6,1184815.00,...,Zadávání VZ na základě rámcové dohody s obnove...,1143,110,False,174939.0,283,110,Ministerstvo vnitra,https://nen.nipez.cz/profil/MVCR,441
9244,False,False,False,1221125.00,1477561.25,346,3,NaN,30213100-6,1184815.00,...,Zadávání VZ na základě rámcové dohody s obnove...,1143,110,False,45194416.0,379,110,Ministerstvo vnitra,https://nen.nipez.cz/profil/MVCR,441

In [24]:
lat1 = radians(50.0802361)
lat2 = radians(50.5874192)
lon1 = radians(14.3913172)
lon2 = radians(16.3301897)
R = 6371
diff_lat = abs(lat1 - lat2)
diff_log = abs(lon1 - lon2)
a = sin(diff_lat/2)**2 + cos(lat1) * cos(lat2) * sin(diff_log/2)**2
c = 2 * atan2(sqrt(a), sqrt(1 - a))
display(R * c)

148.7175084025652

In [25]:
df_for_pred.loc[:,'distance'] = df_for_pred.apply(lambda x: get_distance(x['address_id_x'], x['address_id_y']), axis =1)

In [26]:
df_for_pred.drop(columns=['id', 'address_id_x', 'address_id_y', 'url', 'contracting_authority_name'], inplace=True)

In [27]:
df_for_pred

,is_association_of_suppliers_x,is_rejected_due_too_low,is_withdrawn,price,price_vat,company_id,number_of_offers,bids_submission_deadline,code_from_nipez_codelist,contract_price,...,is_association_of_suppliers_y,place_of_performance,public_contract_regime,type,type_of_procedure,contact_person_id,contracting_authority_id,is_winner,organisation_id,distance
0,True,False,False,0.00,0.00,1,1,NaN,15710000-8,38973.48,...,False,Liberecký kraj,NaN,Public contract for deliveries,Zadávání VZ na základě rámcové dohody bez obno...,1,1,True,66442460.0,NaN
1,False,False,False,9832.02,11897.00,2,1,NaN,50110000-9,9832.02,...,False,Jihočeský kraj,NaN,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,2,1,True,26031868.0,NaN
2,False,False,False,130000.00,130000.00,3,1,NaN,NaN,130000.00,...,False,NaN,Small-scale public contract,Public contract for deliveries,Otevřená výzva,1,1,True,3566358.0,NaN
3,True,False,False,0.00,0.00,4,1,NaN,90511000-2,26580.00,...,False,Liberecký kraj,NaN,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,1,1,True,62738542.0,89.388459
4,False,False,False,8468.00,9314.80,5,1,NaN,90500000-2,8468.00,...,False,Středočeský kraj,NaN,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,3,1,True,47538856.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9240,False,False,False,138514.50,167602.55,536,2,NaN,39141000-2,75752.00,...,False,Česká republika,NaN,Public contract for deliveries,Zadávání VZ na základě rámcové dohody s obnove...,647,261,False,5960657.0,NaN
9241,False,False,False,75752.00,91659.92,118,2,NaN,39141000-2,75752.00,...,False,Česká republika,NaN,Public contract for deliveries,Zadávání VZ na základě rámcové dohody s obnove...,647,261,True,45790604.0,NaN
9242,False,False,False,1184815.00,1433626.15,283,3,NaN,30213100-6,1184815.00,...,False,Česká republika,NaN,Public contract for deliveries,Zadávání VZ na základě rámcové dohody s obnove...,1143,110,True,25403435.0,NaN
9243,False,False,False,1189575.00,1439385.75,263,3,NaN,30213100-6,1184815.00,...,False,Česká republika,NaN,Public contract for deliveries,Zadávání VZ na základě rámcové dohody s obnove...,1143,110,False,174939.0,8.511941
9244,False,False,False,1221125.00,1477561.25,346,3,NaN,30213100-6,1184815.00,...,False,Česká republika,NaN,Public contract for deliveries,Zadávání VZ na základě rámcové dohody s obnove...,1143,110,False,45194416.0,210.221076

In [29]:
total_offers = (offer['company_id'].value_counts()).to_frame()

In [30]:
total_offers

            count
company_id
160           161
141           139
529            88
223            71
221            60
...           ...
1803            1
1802            1
1801            1
1798            1
3696            1

[3375 rows x 1 columns]

In [31]:
total_wins = df_for_pred.groupby('company_id')['is_winner'].sum().to_frame()

In [32]:
total_wins.rename(columns={'is_winner' : 'total_wins'}, inplace=True)
total_wins

            total_wins
company_id
1                    7
2                    2
3                    1
4                    7
5                   33
...                ...
3692                 0
3693                 1
3694                 0
3695                 0
3696                 0

[3375 rows x 1 columns]

In [33]:
total_procurements = (procurement['contracting_authority_id'].value_counts()).to_frame()

In [34]:
total_procurements

                          count
contracting_authority_id
1                          2181
79                          152
57                          121
110                         100
77                           87
...                         ...
287                           1
289                           1
290                           1
291                           1
484                           1

[421 rows x 1 columns]

In [35]:
df_for_pred = pd.merge(df_for_pred, total_offers, left_on='company_id', right_on='company_id', how='left')
df_for_pred.rename(columns={'count' : 'total_offers'}, inplace=True)

In [36]:
df_for_pred = pd.merge(df_for_pred, total_wins, left_on='company_id', right_on='company_id', how='left')

In [37]:
df_for_pred = pd.merge(df_for_pred, total_procurements, left_on='contracting_authority_id', right_on='contracting_authority_id', how='left')
df_for_pred.rename(columns={'count' : 'total_procurements'}, inplace=True)

In [38]:
basic_stats(df_for_pred)

(9245, 28)

,price,price_vat,company_id,number_of_offers,contract_price,contract_price_vat,contract_price_with_amendments,contract_price_with_amendments_vat,contact_person_id,contracting_authority_id,organisation_id,distance,total_offers,total_wins,total_procurements
count,7.896000e+03,7.900000e+03,9245.000000,9245.000000,9.245000e+03,9.245000e+03,9.245000e+03,9.245000e+03,9245.000000,9245.000000,9.142000e+03,4593.000000,9245.000000,9245.00000,9245.000000
mean,8.438423e+07,1.017015e+08,1183.305679,4.194375,1.290810e+07,4.926975e+10,1.310867e+07,4.926999e+10,472.916928,98.565711,3.052879e+07,96.042035,15.780963,5.73867,917.682423
std,2.562514e+09,3.100194e+09,1011.543866,3.093448,7.586431e+07,4.735342e+12,7.694805e+07,4.735342e+12,310.848602,116.944190,1.870423e+07,96.887883,29.202462,9.33778,1058.875997
min,0.000000e+00,0.000000e+00,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,1.000000,4.930000e+02,0.107971,1.000000,0.00000,1.000000
25%,1.804650e+04,2.163843e+04,300.000000,2.000000,2.060000e+04,2.482920e+04,2.060000e+04,2.482920e+04,202.000000,1.000000,2.418517e+07,5.879905,2.000000,0.00000,13.000000
50%,1.530058e+05,1.740371e+05,868.000000,3.000000,2.100000e+05,2.532772e+05,2.100000e+05,2.532772e+05,445.000000,64.000000,2.684905e+07,58.124922,5.000000,2.00000,87.000000
75%,1.149339e+06,1.212226e+06,1893.000000,6.000000,1.500000e+06,1.815000e+06,1.500000e+06,1.815000e+06,705.000000,161.000000,4.590527e+07,188.650247,16.000000,6.00000,2181.000000
max,1.145797e+11,1.386414e+11,3696.000000,19.000000,1.505337e+09,4.553075e+14,1.505337e+09,4.553075e+14,1183.000000,484.000000,8.885864e+07,403.195306,161.000000,51.00000,2181.000000

Missing values in %:

is_association_of_suppliers_x          0.000000
is_rejected_due_too_low                0.000000
is_withdrawn                           0.000000
price                                 14.591671
price_vat                             14.548405
company_id                             0.000000
number_of_offers                       0.000000
bids_submission_deadline              28.934559
code_from_nipez_codelist               0.746349
contract_price                         0.000000
contract_price_vat                     0.000000
contract_price_with_amendments         0.000000
contract_price_with_amendments_vat     0.000000
date_of_contract_close                 0.043267
date_of_publication                    6.425095
is_association_of_suppliers_y          0.000000
place_of_performance                   2.239048
public_contract_regime                18.896701
type                                   0.010817
type_of_procedure                      0.000000
contact_person_id                      0.000000
contracting_authority_id               0.000000
is_winner                              0.000000
organisation_id                        1.114116
distance                              50.319091
total_offers                           0.000000
total_wins                             0.000000
total_procurements                     0.000000
dtype: float64

,is_association_of_suppliers_x,is_rejected_due_too_low,is_withdrawn,price,price_vat,company_id,number_of_offers,bids_submission_deadline,code_from_nipez_codelist,contract_price,...,type,type_of_procedure,contact_person_id,contracting_authority_id,is_winner,organisation_id,distance,total_offers,total_wins,total_procurements
0,True,False,False,0.00,0.00,1,1,NaN,15710000-8,38973.48,...,Public contract for deliveries,Zadávání VZ na základě rámcové dohody bez obno...,1,1,True,66442460.0,NaN,7,7,2181
1,False,False,False,9832.02,11897.00,2,1,NaN,50110000-9,9832.02,...,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,2,1,True,26031868.0,NaN,3,2,2181
2,False,False,False,130000.00,130000.00,3,1,NaN,NaN,130000.00,...,Public contract for deliveries,Otevřená výzva,1,1,True,3566358.0,NaN,1,1,2181
3,True,False,False,0.00,0.00,4,1,NaN,90511000-2,26580.00,...,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,1,1,True,62738542.0,89.388459,7,7,2181
4,False,False,False,8468.00,9314.80,5,1,NaN,90500000-2,8468.00,...,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,3,1,True,47538856.0,NaN,34,33,2181
5,False,False,False,90525.00,109535.25,6,1,NaN,24612000-7,90525.00,...,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,1,1,True,25291581.0,NaN,8,8,2181
6,False,False,False,0.00,0.00,7,1,NaN,15710000-8,103600.35,...,Public contract for deliveries,Zadávání VZ na základě rámcové dohody bez obno...,1,1,True,25286366.0,NaN,21,21,2181
7,True,False,False,0.00,0.00,8,1,NaN,15710000-8,23508.00,...,Public contract for deliveries,Zadávání VZ na základě rámcové dohody bez obno...,1,1,True,24663913.0,6.407831,17,15,2181
8,False,False,False,130000.00,130000.00,10,1,NaN,03322000-2,130000.00,...,Public contract for deliveries,Otevřená výzva,1,1,True,NaN,NaN,1,1,2181
9,False,False,False,NaN,NaN,12,2,2023-10-03,38434520-7,5112800.00,...,Public contract for deliveries,Otevřené řízení,5,3,False,46342907.0,181.823931,3,2,2

In [39]:
df_catboost = df_for_pred.copy()
df_catboost.drop(columns=['company_id', 'contact_person_id', 'organisation_id', 'contracting_authority_id', 'contract_price_vat', 'code_from_nipez_codelist', 'contract_price_vat', 'contract_price_with_amendments', 'contract_price_with_amendments_vat', 'price_vat', 'contract_price', 'date_of_contract_close', 'date_of_publication', 'bids_submission_deadline', 'number_of_offers'], inplace=True)

In [40]:
df_catboost.rename(columns={"price" : "bid_price" }, inplace=True)

In [41]:
df_catboost['total_wins'] = df_catboost['total_wins'].fillna(0)
df_catboost['bid_price'] = df_catboost['bid_price'].fillna(0)

In [42]:
bins = [0, 15, 50, 100, np.inf]
names = ['0-15', '15-50', '50-100', '100+']

df_catboost['distance'] = pd.cut(df_catboost['distance'], bins, labels=names)

In [43]:
basic_stats(df_catboost)

(9245, 14)

          bid_price  total_offers  total_wins  total_procurements
count  9.245000e+03   9245.000000  9245.00000         9245.000000
mean   7.207116e+07     15.780963     5.73867          917.682423
std    2.368355e+09     29.202462     9.33778         1058.875997
min    0.000000e+00      1.000000     0.00000            1.000000
25%    4.637500e+03      2.000000     0.00000           13.000000
50%    8.220000e+04      5.000000     2.00000           87.000000
75%    8.000680e+05     16.000000     6.00000         2181.000000
max    1.145797e+11    161.000000    51.00000         2181.000000

Missing values in %:

is_association_of_suppliers_x     0.000000
is_rejected_due_too_low           0.000000
is_withdrawn                      0.000000
bid_price                         0.000000
is_association_of_suppliers_y     0.000000
place_of_performance              2.239048
public_contract_regime           18.896701
type                              0.010817
type_of_procedure                 0.000000
is_winner                         0.000000
distance                         50.319091
total_offers                      0.000000
total_wins                        0.000000
total_procurements                0.000000
dtype: float64

,is_association_of_suppliers_x,is_rejected_due_too_low,is_withdrawn,bid_price,is_association_of_suppliers_y,place_of_performance,public_contract_regime,type,type_of_procedure,is_winner,distance,total_offers,total_wins,total_procurements
0,True,False,False,0.00,False,Liberecký kraj,NaN,Public contract for deliveries,Zadávání VZ na základě rámcové dohody bez obno...,True,NaN,7,7,2181
1,False,False,False,9832.02,False,Jihočeský kraj,NaN,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,True,NaN,3,2,2181
2,False,False,False,130000.00,False,NaN,Small-scale public contract,Public contract for deliveries,Otevřená výzva,True,NaN,1,1,2181
3,True,False,False,0.00,False,Liberecký kraj,NaN,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,True,50-100,7,7,2181
4,False,False,False,8468.00,False,Středočeský kraj,NaN,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,True,NaN,34,33,2181
5,False,False,False,90525.00,False,Liberecký kraj,NaN,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,True,NaN,8,8,2181
6,False,False,False,0.00,False,Liberecký kraj,NaN,Public contract for deliveries,Zadávání VZ na základě rámcové dohody bez obno...,True,NaN,21,21,2181
7,True,False,False,0.00,False,Liberecký kraj,NaN,Public contract for deliveries,Zadávání VZ na základě rámcové dohody bez obno...,True,0-15,17,15,2181
8,False,False,False,130000.00,False,NaN,Small-scale public contract,Public contract for deliveries,Otevřená výzva,True,NaN,1,1,2181
9,False,False,False,0.00,False,Jihomoravský kraj,Above-limit public contract,Public contract for deliveries,Otevřené řízení,False,100+,3,2,2

In [44]:
df_catboost['place_of_performance'].replace({'Hlavní město Praha': 'Praha', 'EXTRA-REGIO' : 'Extra-Regio', np.nan : 'Unknown'}, inplace=True)

In [45]:
df_catboost.place_of_performance.unique()

array(['Liberecký kraj', 'Jihočeský kraj', 'Unknown', 'Středočeský kraj',
       'Jihomoravský kraj', 'Praha', 'Kraj Vysočina', 'Zlínský kraj',
       'Plzeňský kraj', 'Česká republika', 'Olomoucký kraj',
       'Královéhradecký kraj', 'Moravskoslezský kraj', 'Karlovarský kraj',
       'Pardubický kraj', 'Ústecký kraj', 'Extra-Regio', 'DEUTSCHLAND',
       'Zahraničí', 'POLSKA'], dtype=object)

In [46]:
df_catboost['public_contract_regime'].replace({np.nan : 'Unknown'}, inplace=True)
df_catboost['type'].replace({np.nan : 'Unknown'}, inplace=True)
df_catboost['type_of_procedure'].replace({np.nan : 'Unknown'}, inplace=True)

In [47]:
df_catboost['place_of_performance'] = df_catboost['place_of_performance'].astype("category")
df_catboost['public_contract_regime'] = df_catboost['public_contract_regime'].astype("category")
df_catboost['type'] = df_catboost['type'].astype("category")
df_catboost['type_of_procedure'] = df_catboost['type_of_procedure'].astype("category")

In [48]:
df_catboost['total_wins'] = df_catboost['total_wins'].astype("int")

In [49]:
df_catboost['distance'] = df_catboost['distance'].astype("str")
df_catboost['distance'].replace({np.nan : 'Unknown'}, inplace=True)
df_catboost['distance'] = df_catboost['distance'].astype("category")

In [50]:
df_catboost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9245 entries, 0 to 9244
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   is_association_of_suppliers_x  9245 non-null   bool
 1   is_rejected_due_too_low        9245 non-null   bool
 2   is_withdrawn                   9245 non-null   bool
 3   bid_price                      9245 non-null   float64
 4   is_association_of_suppliers_y  9245 non-null   bool
 5   place_of_performance           9245 non-null   category
 6   public_contract_regime         9245 non-null   category
 7   type                           9245 non-null   category
 8   type_of_procedure              9245 non-null   category
 9   is_winner                      9245 non-null   bool
 10  distance                       9245 non-null   category
 11  total_offers                   9245 non-null   int64
 12  total_wins                     9245 non-null   int32
 13  total_procurements             9245 non-null   int64
dtypes: bool(5), category(5), float64(1), int32(1), int64(2)
memory usage: 345.3 KB

In [51]:
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split

In [52]:
train_data = df_catboost.drop(columns=["is_winner"])
train_labels = df_catboost["is_winner"]
X_train, X_test, y_train, y_test = train_test_split(train_data, train_labels, test_size=0.20, random_state=88)

In [53]:
model = CatBoostClassifier(iterations=25,
                           depth=7,
                           learning_rate=1,
                           loss_function='Logloss',
                           verbose=True,
                           cat_features=['place_of_performance', 'public_contract_regime', 'type', 'type_of_procedure', 'distance'])
# train the model
model.fit(X_train, y_train)
model.score(X_test, y_test.astype("str"))

0:	learn: 0.4570078	total: 184ms	remaining: 4.42s
1:	learn: 0.3637640	total: 218ms	remaining: 2.5s
2:	learn: 0.3410194	total: 253ms	remaining: 1.85s
3:	learn: 0.3320620	total: 287ms	remaining: 1.51s
4:	learn: 0.3236537	total: 343ms	remaining: 1.37s
5:	learn: 0.3212954	total: 382ms	remaining: 1.21s
6:	learn: 0.3181588	total: 411ms	remaining: 1.06s
7:	learn: 0.3138734	total: 452ms	remaining: 960ms
8:	learn: 0.3119466	total: 493ms	remaining: 876ms
9:	learn: 0.3059239	total: 530ms	remaining: 795ms
10:	learn: 0.3053769	total: 569ms	remaining: 724ms
11:	learn: 0.3028492	total: 592ms	remaining: 641ms
12:	learn: 0.3027122	total: 619ms	remaining: 571ms
13:	learn: 0.2997919	total: 659ms	remaining: 518ms
14:	learn: 0.2940333	total: 704ms	remaining: 470ms
15:	learn: 0.2940245	total: 747ms	remaining: 420ms
16:	learn: 0.2907264	total: 796ms	remaining: 375ms
17:	learn: 0.2902971	total: 849ms	remaining: 330ms
18:	learn: 0.2881642	total: 886ms	remaining: 280ms
19:	learn: 0.2879676	total: 928ms	remaining: 232ms
20:	learn: 0.2879584	total: 957ms	remaining: 182ms
21:	learn: 0.2873481	total: 982ms	remaining: 134ms
22:	learn: 0.2864135	total: 1.01s	remaining: 87.7ms
23:	learn: 0.2854906	total: 1.03s	remaining: 42.9ms
24:	learn: 0.2842002	total: 1.06s	remaining: 0us

0.8464034613304489

In [54]:
from sklearn.metrics import balanced_accuracy_score

In [55]:
predictions = model.predict(X_test)

In [56]:
balanced_accuracy_score(y_test.astype("str"), predictions)

0.8364125706829056

In [57]:
df_for_pred.public_contract_regime.unique()

array([nan, 'Small-scale public contract', 'Above-limit public contract',
       'Below-limit public contract', 'Zjednodušený režim',
       'Below-threshold public procurement besides the procurement procedure',
       'Small-scale concession'], dtype=object)

In [58]:
df_for_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9245 entries, 0 to 9244
Data columns (total 28 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   is_association_of_suppliers_x       9245 non-null   bool
 1   is_rejected_due_too_low             9245 non-null   bool
 2   is_withdrawn                        9245 non-null   bool
 3   price                               7896 non-null   float64
 4   price_vat                           7900 non-null   float64
 5   company_id                          9245 non-null   int64
 6   number_of_offers                    9245 non-null   int64
 7   bids_submission_deadline            6570 non-null   object
 8   code_from_nipez_codelist            9176 non-null   object
 9   contract_price                      9245 non-null   float64
 10  contract_price_vat                  9245 non-null   float64
 11  contract_price_with_amendments      9245 non-null   float64
 12  contract_price_with_amendments_vat  9245 non-null   float64
 13  date_of_contract_close              9241 non-null   object
 14  date_of_publication                 8651 non-null   object
 15  is_association_of_suppliers_y       9245 non-null   bool
 16  place_of_performance                9038 non-null   object
 17  public_contract_regime              7498 non-null   object
 18  type                                9244 non-null   object
 19  type_of_procedure                   9245 non-null   object
 20  contact_person_id                   9245 non-null   int64
 21  contracting_authority_id            9245 non-null   int64
 22  is_winner                           9245 non-null   bool
 23  organisation_id                     9142 non-null   float64
 24  distance                            4593 non-null   float64
 25  total_offers                        9245 non-null   int64
 26  total_wins                          9245 non-null   int64
 27  total_procurements                  9245 non-null   int64
dtypes: bool(5), float64(8), int64(7), object(8)
memory usage: 1.7+ MB

In [59]:
df_for_pred.groupby('code_from_nipez_codelist')['company_id'].count().sort_values(ascending=False)

code_from_nipez_codelist
45000000-7    510
71319000-7    276
77200000-2    162
30200000-1    119
98310000-9    112
             ...
35126000-3      1
48732000-8      1
48610000-7      1
39711100-0      1
02              1
Name: company_id, Length: 1065, dtype: int64

In [60]:
 df_constructions = df_for_pred.loc[df_for_pred['code_from_nipez_codelist'] == '45000000-7']

In [61]:
df_constructions.info()

<class 'pandas.core.frame.DataFrame'>
Index: 510 entries, 36 to 9229
Data columns (total 28 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   is_association_of_suppliers_x       510 non-null    bool
 1   is_rejected_due_too_low             510 non-null    bool
 2   is_withdrawn                        510 non-null    bool
 3   price                               315 non-null    float64
 4   price_vat                           318 non-null    float64
 5   company_id                          510 non-null    int64
 6   number_of_offers                    510 non-null    int64
 7   bids_submission_deadline            460 non-null    object
 8   code_from_nipez_codelist            510 non-null    object
 9   contract_price                      510 non-null    float64
 10  contract_price_vat                  510 non-null    float64
 11  contract_price_with_amendments      510 non-null    float64
 12  contract_price_with_amendments_vat  510 non-null    float64
 13  date_of_contract_close              510 non-null    object
 14  date_of_publication                 487 non-null    object
 15  is_association_of_suppliers_y       510 non-null    bool
 16  place_of_performance                510 non-null    object
 17  public_contract_regime              501 non-null    object
 18  type                                510 non-null    object
 19  type_of_procedure                   510 non-null    object
 20  contact_person_id                   510 non-null    int64
 21  contracting_authority_id            510 non-null    int64
 22  is_winner                           510 non-null    bool
 23  organisation_id                     507 non-null    float64
 24  distance                            136 non-null    float64
 25  total_offers                        510 non-null    int64
 26  total_wins                          510 non-null    int64
 27  total_procurements                  510 non-null    int64
dtypes: bool(5), float64(8), int64(7), object(8)
memory usage: 98.1+ KB

In [62]:
df_for_pred.columns

Index(['is_association_of_suppliers_x', 'is_rejected_due_too_low',
       'is_withdrawn', 'price', 'price_vat', 'company_id', 'number_of_offers',
       'bids_submission_deadline', 'code_from_nipez_codelist',
       'contract_price', 'contract_price_vat',
       'contract_price_with_amendments', 'contract_price_with_amendments_vat',
       'date_of_contract_close', 'date_of_publication',
       'is_association_of_suppliers_y', 'place_of_performance',
       'public_contract_regime', 'type', 'type_of_procedure',
       'contact_person_id', 'contracting_authority_id', 'is_winner',
       'organisation_id', 'distance', 'total_offers', 'total_wins',
       'total_procurements'],
      dtype='object')

In [63]:
df_clusters = df_for_pred.copy()

In [64]:
df_clusters

,is_association_of_suppliers_x,is_rejected_due_too_low,is_withdrawn,price,price_vat,company_id,number_of_offers,bids_submission_deadline,code_from_nipez_codelist,contract_price,...,type,type_of_procedure,contact_person_id,contracting_authority_id,is_winner,organisation_id,distance,total_offers,total_wins,total_procurements
0,True,False,False,0.00,0.00,1,1,NaN,15710000-8,38973.48,...,Public contract for deliveries,Zadávání VZ na základě rámcové dohody bez obno...,1,1,True,66442460.0,NaN,7,7,2181
1,False,False,False,9832.02,11897.00,2,1,NaN,50110000-9,9832.02,...,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,2,1,True,26031868.0,NaN,3,2,2181
2,False,False,False,130000.00,130000.00,3,1,NaN,NaN,130000.00,...,Public contract for deliveries,Otevřená výzva,1,1,True,3566358.0,NaN,1,1,2181
3,True,False,False,0.00,0.00,4,1,NaN,90511000-2,26580.00,...,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,1,1,True,62738542.0,89.388459,7,7,2181
4,False,False,False,8468.00,9314.80,5,1,NaN,90500000-2,8468.00,...,Public contract for services,Zadávání VZ na základě rámcové dohody bez obno...,3,1,True,47538856.0,NaN,34,33,2181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9240,False,False,False,138514.50,167602.55,536,2,NaN,39141000-2,75752.00,...,Public contract for deliveries,Zadávání VZ na základě rámcové dohody s obnove...,647,261,False,5960657.0,NaN,10,4,5
9241,False,False,False,75752.00,91659.92,118,2,NaN,39141000-2,75752.00,...,Public contract for deliveries,Zadávání VZ na základě rámcové dohody s obnove...,647,261,True,45790604.0,NaN,8,6,5
9242,False,False,False,1184815.00,1433626.15,283,3,NaN,30213100-6,1184815.00,...,Public contract for deliveries,Zadávání VZ na základě rámcové dohody s obnove...,1143,110,True,25403435.0,NaN,17,9,100
9243,False,False,False,1189575.00,1439385.75,263,3,NaN,30213100-6,1184815.00,...,Public contract for deliveries,Zadávání VZ na základě rámcové dohody s obnove...,1143,110,False,174939.0,8.511941,36,11,100
9244,False,False,False,1221125.00,1477561.25,346,3,NaN,30213100-6,1184815.00,...,Public contract for deliveries,Zadávání VZ na základě rámcové dohody s obnove...,1143,110,False,45194416.0,210.221076,19,10,100

In [65]:
df_clusters.groupby(['company_id', 'contracting_authority_id']).sum()

,,is_association_of_suppliers_x,is_rejected_due_too_low,is_withdrawn,price,price_vat,number_of_offers,bids_submission_deadline,code_from_nipez_codelist,contract_price,contract_price_vat,...,public_contract_regime,type,type_of_procedure,contact_person_id,is_winner,organisation_id,distance,total_offers,total_wins,total_procurements
company_id,contracting_authority_id,,,,,,,,,,,,,,,,,,,,,
1,1,4,0,0,14.24,16.38,7,2021-11-222021-11-22,15710000-815710000-815710000-815710000-8157100...,293709.97,337707.00,...,Small-scale public contractSmall-scale public ...,Public contract for deliveriesPublic contract ...,Zadávání VZ na základě rámcové dohody bez obno...,7,7,4.650972e+08,0.000000,49,49,15267
2,1,0,0,0,12112.02,202841.30,9,2023-09-20,50110000-950110000-924951311-8,74416.32,90043.74,...,Small-scale public contract,Public contract for servicesPublic contract fo...,Zadávání VZ na základě rámcové dohody bez obno...,173,2,7.809560e+07,0.000000,9,6,6543
3,1,0,0,0,130000.00,130000.00,1,0,0,130000.00,130000.00,...,Small-scale public contract,Public contract for deliveries,Otevřená výzva,1,1,3.566358e+06,0.000000,1,1,2181
4,1,2,0,0,48615.00,58824.15,8,2021-03-032021-06-212022-02-112022-02-11,90511000-290511000-290511000-290511000-2905110...,180645.79,218581.40,...,Small-scale public contractSmall-scale public ...,Public contract for servicesPublic contract fo...,Zadávání VZ na základě rámcové dohody bez obno...,7,7,4.391698e+08,625.719212,49,49,15267
5,1,0,0,0,1461740.50,1715061.10,36,2019-02-262023-01-202023-01-24,90500000-290920000-290910000-990500000-2909200...,1267255.50,1484074.30,...,Small-scale public contractSmall-scale public ...,Public contract for servicesPublic contract fo...,Zadávání VZ na základě rámcové dohody bez obno...,19554,33,1.616321e+09,0.000000,1156,1122,74154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3692,484,0,0,0,2059756.00,2368719.40,5,2023-10-30,45000000-7,1892334.00,2176184.10,...,Small-scale public contract,Public contract for construction work,Otevřená výzva,1183,0,2.604004e+07,0.000000,1,0,1
3693,64,0,0,0,1292000.00,1563320.00,9,2023-11-20,39221000-7,1292000.00,1563320.00,...,Small-scale public contract,Public contract for deliveries,Otevřená výzva,916,1,2.909953e+07,0.000000,1,1,28
3694,64,0,0,0,1755450.00,2124094.50,9,2023-11-20,39221000-7,1292000.00,1563320.00,...,Small-scale public contract,Public contract for deliveries,Otevřená výzva,916,0,2.781886e+07,196.898200,1,0,28
3695,64,0,0,0,1689391.17,2044163.32,9,2023-11-20,39221000-7,1292000.00,1563320.00,...,Small-scale public contract,Public contract for deliveries,Otevřená výzva,916,0,2.697758e+07,113.667026,1,0,28
3696,64,0,0,0,1543000.00,1867030.00,9,2023-11-20,39221000-7,1292000.00,1563320.00,...,Small-scale public contract,Public contract for deliveries,Otevřená výzva,916,0,6.425372e+06,116.190717,1,0,28

In [66]:
grouped_by_comp_id = df_clusters.groupby('company_id')
number_of_unique_con_auth = grouped_by_comp_id["contracting_authority_id"].nunique()
grouped_by_comp_con_auth = df_clusters.groupby('contracting_authority_id')
number_of_unique_comp_id = grouped_by_comp_con_auth["company_id"].nunique()

In [67]:
grouped_by_comp_con_auth

In [68]:
df_clusters.loc[df_clusters["company_id"] == 26]

,is_association_of_suppliers_x,is_rejected_due_too_low,is_withdrawn,price,price_vat,company_id,number_of_offers,bids_submission_deadline,code_from_nipez_codelist,contract_price,...,type,type_of_procedure,contact_person_id,contracting_authority_id,is_winner,organisation_id,distance,total_offers,total_wins,total_procurements
25,False,False,False,1.693786e+07,2.049482e+07,26,4,2023-05-17,45233140-2,1.597708e+07,...,Public contract for construction work,Zjednodušené podlimitní řízení,11,7,False,43005560.0,NaN,18,3,3
38,False,False,False,5.655473e+06,6.843122e+06,26,12,2023-02-17,45000000-7,5.306957e+06,...,Public contract for construction work,Zjednodušené podlimitní řízení,56,54,False,43005560.0,229.373415,18,3,1
557,False,False,False,1.850525e+08,2.239135e+08,26,4,2021-12-27,45000000-7,1.546592e+08,...,Public contract for construction work,Otevřené řízení,170,116,False,43005560.0,6.527547,18,3,2
586,False,False,False,NaN,NaN,26,7,NaN,45232400-6,0.000000e+00,...,Public contract for construction work,Užší řízení,172,118,False,43005560.0,NaN,18,3,1
618,False,False,False,NaN,NaN,26,7,NaN,45232150-8,3.078400e+07,...,Public contract for construction work,Užší řízení,181,123,False,43005560.0,NaN,18,3,1
1461,False,False,False,9.147739e+08,NaN,26,6,2020-11-20,45000000-7,7.879914e+08,...,Public contract for construction work,Otevřené řízení,368,4,False,43005560.0,5.189248,18,3,39
1474,False,False,False,9.181834e+06,1.111002e+07,26,8,2023-02-16,45000000-7,7.517363e+06,...,Public contract for construction work,Zjednodušené podlimitní řízení,240,206,False,43005560.0,NaN,18,3,1
1503,False,False,False,2.994623e+07,3.623493e+07,26,5,2022-11-21,45233140-2,2.994623e+07,...,Public contract for construction work,Zjednodušené podlimitní řízení,11,7,True,43005560.0,NaN,18,3,3
2144,False,False,False,NaN,NaN,26,5,2023-06-19,45213316-1,4.868732e+06,...,Public contract for construction work,Zjednodušené podlimitní řízení,453,238,False,43005560.0,NaN,18,3,1
2212,False,False,False,1.777565e+08,2.150854e+08,26,9,2021-07-27,45214200-2,1.388492e+08,...,Public contract for construction work,Otevřené řízení,463,97,False,43005560.0,270.990504,18,3,13
4110,False,False,False,1.951510e+07,2.361327e+07,26,9,2022-11-15,45233140-2,1.858560e+07,...,Public contract for construction work,Zjednodušené podlimitní řízení,691,7,False,43005560.0,NaN,18,3,3
4267,False,False,False,1.614435e+07,1.953466e+07,26,6,2023-02-16,45231300-8,1.614435e+07,...,Public contract for construction work,Zjednodušené podlimitní řízení,709,284,True,43005560.0,117.557648,18,3,11
5117,False,False,False,NaN,NaN,26,4,2022-01-10,45000000-7,5.945345e+08,...,Public contract for construction work,Otevřené řízení,170,116,True,43005560.0,6.527547,18,3,2
6294,False,False,False,NaN,NaN,26,10,2023-07-17,45233162-2,1.120120e+07,...,Public contract for construction work,Zjednodušené podlimitní řízení,906,395,False,43005560.0,NaN,18,3,1
7591,False,False,False,NaN,NaN,26,17,2020-07-30,45000000-7,0.000000e+00,...,Public contract for construction work,Užší řízení,1062,456,False,43005560.0,NaN,18,3,1
7978,False,False,False,3.645839e+06,4.411465e+06,26,8,2023-07-10,45233162-2,3.598860e+06,...,Public contract for construction work,Otevřená výzva,552,73,False,43005560.0,222.148031,18,3,9
8279,False,False,False,NaN,NaN,26,5,2023-02-24,45000000-7,3.735406e+07,...,Public contract for construction work,Užší řízení,971,472,False,43005560.0,NaN,18,3,1
8377,False,False,False,7.390770e+06,8.942831e+06,26,2,NaN,NaN,4.337554e+06,...,Public contract for construction work,Uzavřená výzva,1123,285,False,43005560.0,NaN,18,3,4

In [69]:
df_catboost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9245 entries, 0 to 9244
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   is_association_of_suppliers_x  9245 non-null   bool
 1   is_rejected_due_too_low        9245 non-null   bool
 2   is_withdrawn                   9245 non-null   bool
 3   bid_price                      9245 non-null   float64
 4   is_association_of_suppliers_y  9245 non-null   bool
 5   place_of_performance           9245 non-null   category
 6   public_contract_regime         9245 non-null   category
 7   type                           9245 non-null   category
 8   type_of_procedure              9245 non-null   category
 9   is_winner                      9245 non-null   bool
 10  distance                       9245 non-null   category
 11  total_offers                   9245 non-null   int64
 12  total_wins                     9245 non-null   int32
 13  total_procurements             9245 non-null   int64
dtypes: bool(5), category(5), float64(1), int32(1), int64(2)
memory usage: 345.3 KB

In [70]:
from sklearn.preprocessing import OneHotEncoder

In [71]:
df_anomaly = df_catboost.copy()
enc = OneHotEncoder(handle_unknown='ignore')
X = enc.fit_transform(df_anomaly)

In [72]:
;

<9245x6760 sparse matrix of type '<class 'numpy.float64'>'
	with 129430 stored elements in Compressed Sparse Row format>

In [73]:
from pyod.models.ecod import ECOD

In [74]:
clf = ECOD()
clf.fit(X.toarray())

ECOD(contamination=0.1, n_jobs=1)

In [75]:
clf.labels_

array([0, 0, 0, ..., 0, 1, 1])

In [76]:
import torch
import torch_geometric

In [77]:
contract_authority

,id,contracting_authority_name,url,address_id
0,1,Ministerstvo obrany,https://nen.nipez.cz/profil/MO,2
1,2,Obec Budětice,https://nen.nipez.cz/profil/obecbudetice,11
2,3,Nemocnice Blansko,https://nen.nipez.cz/profil/NemocniceBlansko,13
3,4,Institut klinické a experimentální medicíny,https://nen.nipez.cz/profil/ikem,17
4,5,Hasičský záchranný sbor Jihomoravského kraje,https://nen.nipez.cz/profil/HZSJmK,24
...,...,...,...,...
416,480,Obec Tisá,NaN,2944
417,481,Obec Sudoměřice u Bechyně,https://nen.nipez.cz/profil/obecsudomerice,3536
418,482,Obec Klopina,https://nen.nipez.cz/profil/klopina,3540
419,483,Městys Černá Hora,https://nen.nipez.cz/profil/CernaHora,3553
420,484,Městys Stádlec,https://nen.nipez.cz/profil/stadlec,3606

In [78]:
company

,id,vat_id_number,company_name,organisation_id,address_id
0,1,CZ7303070038,Dušan Pirc,66442460.0,1
1,2,CZ26031868,CB Auto a.s.,26031868.0,3
2,3,NaN,Pes profesionál s. r. o.,3566358.0,4
3,4,CZ62738542,Severočeské komunální služby s.r.o.,62738542.0,5
4,5,CZ47538856,JOHNNY SERVIS s.r.o.,47538856.0,6
...,...,...,...,...,...
3669,3693,NaN,GASTRONOMIK KV s.r.o.,29099528.0,3611
3670,3694,CZ27818861,"GASTRO MACH, s.r.o.",27818861.0,3612
3671,3695,CZ26977583,STEVY s.r.o.,26977583.0,3613
3672,3696,NaN,Skymill Consulting s.r.o.,6425372.0,3614
3673,3697,NaN,"Kuřátková Zuzana, BcA.",72923628.0,3615

In [79]:
CA_nodes = contract_authority['id']
AT_nodes = company['id']

In [80]:
df_edges = df_for_pred.copy()

In [81]:
df_edges.drop(columns=['is_association_of_suppliers_x', 'is_association_of_suppliers_y', 'is_rejected_due_too_low', 'is_withdrawn', 'price', 'bids_submission_deadline', 'number_of_offers', 'contract_price', 'contract_price_with_amendments', 'contract_price_with_amendments_vat', 'date_of_contract_close', 'date_of_publication', 'place_of_performance', 'public_contract_regime', 'type', 'type_of_procedure', 'contact_person_id', 'organisation_id', 'distance'], inplace=True)

In [83]:
df_edges['price_vat'] = df_edges['price_vat'].fillna(0)
df_edges['total_wins'] = df_edges['total_wins'].fillna(0)
df_edges['code_from_nipez_codelist'] = df_edges['code_from_nipez_codelist'].fillna('Other')

In [84]:
df_edges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9245 entries, 0 to 9244
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   price_vat                 9245 non-null   float64
 1   company_id                9245 non-null   int64
 2   code_from_nipez_codelist  9245 non-null   object
 3   contract_price_vat        9245 non-null   float64
 4   contracting_authority_id  9245 non-null   int64
 5   is_winner                 9245 non-null   bool
 6   total_offers              9245 non-null   int64
 7   total_wins                9245 non-null   int64
 8   total_procurements        9245 non-null   int64
dtypes: bool(1), float64(2), int64(5), object(1)
memory usage: 587.0+ KB

In [85]:
grouped = df_edges.groupby(['company_id', 'contracting_authority_id'])

In [137]:
num_of_offers = grouped.count()['is_winner'].to_frame()
num_of_offers.rename(columns={'is_winner' : 'num_of_offers'}, inplace=True)

In [138]:
num_of_wins = grouped.sum()['is_winner'].to_frame()
num_of_wins.rename(columns={'is_winner' : 'num_of_wins'},  inplace=True)

In [139]:
bid_price_sum = grouped.sum()['price_vat'].to_frame()
bid_price_sum.rename(columns={'price_vat' : 'bid_price_sum'},  inplace=True)

In [140]:
bid_price_median = grouped.median('price_vat')['price_vat'].to_frame()
bid_price_median.rename(columns={'price_vat' : 'bid_price_median'},  inplace=True)

In [141]:
contract_price_sum = grouped.sum()['contract_price_vat'].to_frame()
contract_price_sum.rename(columns={'contract_price_vat' : 'contract_price_sum'},  inplace=True)

In [142]:
contract_price_median = grouped.median('contract_price_vat')['contract_price_vat'].to_frame()
contract_price_median.rename(columns={'contract_price_vat' : 'contract_price_median'},  inplace=True)

In [143]:
num_of_unique_nipez = grouped.nunique('code_from_nipez_codelist')['code_from_nipez_codelist'].to_frame()
num_of_unique_nipez.rename(columns={'code_from_nipez_codelist' : 'num_of_unique_nipez_codes'},  inplace=True)

In [146]:
df_edges = num_of_offers.merge(num_of_wins, on=['company_id', 'contracting_authority_id'])
df_edges = df_edges.merge(bid_price_sum, on=['company_id', 'contracting_authority_id'])
df_edges = df_edges.merge(bid_price_median, on=['company_id', 'contracting_authority_id'])
df_edges = df_edges.merge(contract_price_sum, on=['company_id', 'contracting_authority_id'])
df_edges = df_edges.merge(contract_price_median, on=['company_id', 'contracting_authority_id'])
df_edges = df_edges.merge(num_of_unique_nipez, on=['company_id', 'contracting_authority_id'])

In [147]:
df_edges

,,num_of_offers,num_of_wins,bid_price_sum,bid_price_median,contract_price_sum,contract_price_median,num_of_unique_nipez_codes
company_id,contracting_authority_id,,,,,,,
1,1,7,7,16.38,0.00,337707.00,40000.00,1
2,1,3,2,202841.30,11897.00,90043.74,11896.74,2
3,1,1,1,130000.00,130000.00,130000.00,130000.00,1
4,1,7,7,58824.15,1560.90,218581.40,25000.00,1
5,1,34,33,1715061.10,1028.50,1484074.30,5493.40,4
...,...,...,...,...,...,...,...,...
3692,484,1,0,2368719.40,2368719.40,2176184.10,2176184.10,1
3693,64,1,1,1563320.00,1563320.00,1563320.00,1563320.00,1
3694,64,1,0,2124094.50,2124094.50,1563320.00,1563320.00,1
3695,64,1,0,2044163.32,2044163.32,1563320.00,1563320.00,1
3696,64,1,0,1867030.00,1867030.00,1563320.00,1563320.00,1