In [1]:
from scripts import Preprocessor
import pandas as pd
import numpy as np

In [2]:
p = Preprocessor('data_2')
dataframes = p.get_dataframes()

In [3]:
X_train, X_val, X_test, y_train, y_val, y_test, X_train_all, X_val_all, X_test_all = p.get_predictions_dataframe()

In [6]:
df_clusters = X_train_all.copy()

In [7]:
df_clusters.groupby(['company_id', 'contracting_authority_id']).sum()

TypeError: datetime64 type does not support sum operations

In [66]:
grouped_by_comp_id = df_clusters.groupby('company_id')
number_of_unique_con_auth = grouped_by_comp_id["contracting_authority_id"].nunique()
grouped_by_comp_con_auth = df_clusters.groupby('contracting_authority_id')
number_of_unique_comp_id = grouped_by_comp_con_auth["company_id"].nunique()

In [67]:
grouped_by_comp_con_auth

In [68]:
df_clusters.loc[df_clusters["company_id"] == 26]

,is_association_of_suppliers_x,is_rejected_due_too_low,is_withdrawn,price,price_vat,company_id,number_of_offers,bids_submission_deadline,code_from_nipez_codelist,contract_price,...,type,type_of_procedure,contact_person_id,contracting_authority_id,is_winner,organisation_id,distance,total_offers,total_wins,total_procurements
25,False,False,False,1.693786e+07,2.049482e+07,26,4,2023-05-17,45233140-2,1.597708e+07,...,Public contract for construction work,Zjednodušené podlimitní řízení,11,7,False,43005560.0,NaN,18,3,3
38,False,False,False,5.655473e+06,6.843122e+06,26,12,2023-02-17,45000000-7,5.306957e+06,...,Public contract for construction work,Zjednodušené podlimitní řízení,56,54,False,43005560.0,229.373415,18,3,1
557,False,False,False,1.850525e+08,2.239135e+08,26,4,2021-12-27,45000000-7,1.546592e+08,...,Public contract for construction work,Otevřené řízení,170,116,False,43005560.0,6.527547,18,3,2
586,False,False,False,NaN,NaN,26,7,NaN,45232400-6,0.000000e+00,...,Public contract for construction work,Užší řízení,172,118,False,43005560.0,NaN,18,3,1
618,False,False,False,NaN,NaN,26,7,NaN,45232150-8,3.078400e+07,...,Public contract for construction work,Užší řízení,181,123,False,43005560.0,NaN,18,3,1
1461,False,False,False,9.147739e+08,NaN,26,6,2020-11-20,45000000-7,7.879914e+08,...,Public contract for construction work,Otevřené řízení,368,4,False,43005560.0,5.189248,18,3,39
1474,False,False,False,9.181834e+06,1.111002e+07,26,8,2023-02-16,45000000-7,7.517363e+06,...,Public contract for construction work,Zjednodušené podlimitní řízení,240,206,False,43005560.0,NaN,18,3,1
1503,False,False,False,2.994623e+07,3.623493e+07,26,5,2022-11-21,45233140-2,2.994623e+07,...,Public contract for construction work,Zjednodušené podlimitní řízení,11,7,True,43005560.0,NaN,18,3,3
2144,False,False,False,NaN,NaN,26,5,2023-06-19,45213316-1,4.868732e+06,...,Public contract for construction work,Zjednodušené podlimitní řízení,453,238,False,43005560.0,NaN,18,3,1
2212,False,False,False,1.777565e+08,2.150854e+08,26,9,2021-07-27,45214200-2,1.388492e+08,...,Public contract for construction work,Otevřené řízení,463,97,False,43005560.0,270.990504,18,3,13
4110,False,False,False,1.951510e+07,2.361327e+07,26,9,2022-11-15,45233140-2,1.858560e+07,...,Public contract for construction work,Zjednodušené podlimitní řízení,691,7,False,43005560.0,NaN,18,3,3
4267,False,False,False,1.614435e+07,1.953466e+07,26,6,2023-02-16,45231300-8,1.614435e+07,...,Public contract for construction work,Zjednodušené podlimitní řízení,709,284,True,43005560.0,117.557648,18,3,11
5117,False,False,False,NaN,NaN,26,4,2022-01-10,45000000-7,5.945345e+08,...,Public contract for construction work,Otevřené řízení,170,116,True,43005560.0,6.527547,18,3,2
6294,False,False,False,NaN,NaN,26,10,2023-07-17,45233162-2,1.120120e+07,...,Public contract for construction work,Zjednodušené podlimitní řízení,906,395,False,43005560.0,NaN,18,3,1
7591,False,False,False,NaN,NaN,26,17,2020-07-30,45000000-7,0.000000e+00,...,Public contract for construction work,Užší řízení,1062,456,False,43005560.0,NaN,18,3,1
7978,False,False,False,3.645839e+06,4.411465e+06,26,8,2023-07-10,45233162-2,3.598860e+06,...,Public contract for construction work,Otevřená výzva,552,73,False,43005560.0,222.148031,18,3,9
8279,False,False,False,NaN,NaN,26,5,2023-02-24,45000000-7,3.735406e+07,...,Public contract for construction work,Užší řízení,971,472,False,43005560.0,NaN,18,3,1
8377,False,False,False,7.390770e+06,8.942831e+06,26,2,NaN,NaN,4.337554e+06,...,Public contract for construction work,Uzavřená výzva,1123,285,False,43005560.0,NaN,18,3,4

In [69]:
df_catboost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9245 entries, 0 to 9244
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   is_association_of_suppliers_x  9245 non-null   bool
 1   is_rejected_due_too_low        9245 non-null   bool
 2   is_withdrawn                   9245 non-null   bool
 3   bid_price                      9245 non-null   float64
 4   is_association_of_suppliers_y  9245 non-null   bool
 5   place_of_performance           9245 non-null   category
 6   public_contract_regime         9245 non-null   category
 7   type                           9245 non-null   category
 8   type_of_procedure              9245 non-null   category
 9   is_winner                      9245 non-null   bool
 10  distance                       9245 non-null   category
 11  total_offers                   9245 non-null   int64
 12  total_wins                     9245 non-null   int32
 13  total_procurements             9245 non-null   int64
dtypes: bool(5), category(5), float64(1), int32(1), int64(2)
memory usage: 345.3 KB

In [70]:
from sklearn.preprocessing import OneHotEncoder

In [71]:
df_anomaly = df_catboost.copy()
enc = OneHotEncoder(handle_unknown='ignore')
X = enc.fit_transform(df_anomaly)

In [73]:
from pyod.models.ecod import ECOD

In [74]:
clf = ECOD()
clf.fit(X.toarray())

ECOD(contamination=0.1, n_jobs=1)

In [75]:
clf.labels_

array([0, 0, 0, ..., 0, 1, 1])

In [76]:
import torch
import torch_geometric

In [77]:
contract_authority

,id,contracting_authority_name,url,address_id
0,1,Ministerstvo obrany,https://nen.nipez.cz/profil/MO,2
1,2,Obec Budětice,https://nen.nipez.cz/profil/obecbudetice,11
2,3,Nemocnice Blansko,https://nen.nipez.cz/profil/NemocniceBlansko,13
3,4,Institut klinické a experimentální medicíny,https://nen.nipez.cz/profil/ikem,17
4,5,Hasičský záchranný sbor Jihomoravského kraje,https://nen.nipez.cz/profil/HZSJmK,24
...,...,...,...,...
416,480,Obec Tisá,NaN,2944
417,481,Obec Sudoměřice u Bechyně,https://nen.nipez.cz/profil/obecsudomerice,3536
418,482,Obec Klopina,https://nen.nipez.cz/profil/klopina,3540
419,483,Městys Černá Hora,https://nen.nipez.cz/profil/CernaHora,3553
420,484,Městys Stádlec,https://nen.nipez.cz/profil/stadlec,3606

In [78]:
company

,id,vat_id_number,company_name,organisation_id,address_id
0,1,CZ7303070038,Dušan Pirc,66442460.0,1
1,2,CZ26031868,CB Auto a.s.,26031868.0,3
2,3,NaN,Pes profesionál s. r. o.,3566358.0,4
3,4,CZ62738542,Severočeské komunální služby s.r.o.,62738542.0,5
4,5,CZ47538856,JOHNNY SERVIS s.r.o.,47538856.0,6
...,...,...,...,...,...
3669,3693,NaN,GASTRONOMIK KV s.r.o.,29099528.0,3611
3670,3694,CZ27818861,"GASTRO MACH, s.r.o.",27818861.0,3612
3671,3695,CZ26977583,STEVY s.r.o.,26977583.0,3613
3672,3696,NaN,Skymill Consulting s.r.o.,6425372.0,3614
3673,3697,NaN,"Kuřátková Zuzana, BcA.",72923628.0,3615

In [79]:
CA_nodes = contract_authority['id']
AT_nodes = company['id']

In [80]:
df_edges = df_for_pred.copy()

In [81]:
df_edges.drop(columns=['is_association_of_suppliers_x', 'is_association_of_suppliers_y', 'is_rejected_due_too_low', 'is_withdrawn', 'price', 'bids_submission_deadline', 'number_of_offers', 'contract_price', 'contract_price_with_amendments', 'contract_price_with_amendments_vat', 'date_of_contract_close', 'date_of_publication', 'place_of_performance', 'public_contract_regime', 'type', 'type_of_procedure', 'contact_person_id', 'organisation_id', 'distance'], inplace=True)

In [83]:
df_edges['price_vat'] = df_edges['price_vat'].fillna(0)
df_edges['total_wins'] = df_edges['total_wins'].fillna(0)
df_edges['code_from_nipez_codelist'] = df_edges['code_from_nipez_codelist'].fillna('Other')

In [84]:
df_edges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9245 entries, 0 to 9244
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   price_vat                 9245 non-null   float64
 1   company_id                9245 non-null   int64
 2   code_from_nipez_codelist  9245 non-null   object
 3   contract_price_vat        9245 non-null   float64
 4   contracting_authority_id  9245 non-null   int64
 5   is_winner                 9245 non-null   bool
 6   total_offers              9245 non-null   int64
 7   total_wins                9245 non-null   int64
 8   total_procurements        9245 non-null   int64
dtypes: bool(1), float64(2), int64(5), object(1)
memory usage: 587.0+ KB

In [85]:
grouped = df_edges.groupby(['company_id', 'contracting_authority_id'])

In [137]:
num_of_offers = grouped.count()['is_winner'].to_frame()
num_of_offers.rename(columns={'is_winner' : 'num_of_offers'}, inplace=True)

In [138]:
num_of_wins = grouped.sum()['is_winner'].to_frame()
num_of_wins.rename(columns={'is_winner' : 'num_of_wins'},  inplace=True)

In [139]:
bid_price_sum = grouped.sum()['price_vat'].to_frame()
bid_price_sum.rename(columns={'price_vat' : 'bid_price_sum'},  inplace=True)

In [140]:
bid_price_median = grouped.median('price_vat')['price_vat'].to_frame()
bid_price_median.rename(columns={'price_vat' : 'bid_price_median'},  inplace=True)

In [141]:
contract_price_sum = grouped.sum()['contract_price_vat'].to_frame()
contract_price_sum.rename(columns={'contract_price_vat' : 'contract_price_sum'},  inplace=True)

In [142]:
contract_price_median = grouped.median('contract_price_vat')['contract_price_vat'].to_frame()
contract_price_median.rename(columns={'contract_price_vat' : 'contract_price_median'},  inplace=True)

In [143]:
num_of_unique_nipez = grouped.nunique('code_from_nipez_codelist')['code_from_nipez_codelist'].to_frame()
num_of_unique_nipez.rename(columns={'code_from_nipez_codelist' : 'num_of_unique_nipez_codes'},  inplace=True)

In [146]:
df_edges = num_of_offers.merge(num_of_wins, on=['company_id', 'contracting_authority_id'])
df_edges = df_edges.merge(bid_price_sum, on=['company_id', 'contracting_authority_id'])
df_edges = df_edges.merge(bid_price_median, on=['company_id', 'contracting_authority_id'])
df_edges = df_edges.merge(contract_price_sum, on=['company_id', 'contracting_authority_id'])
df_edges = df_edges.merge(contract_price_median, on=['company_id', 'contracting_authority_id'])
df_edges = df_edges.merge(num_of_unique_nipez, on=['company_id', 'contracting_authority_id'])

In [147]:
df_edges

,,num_of_offers,num_of_wins,bid_price_sum,bid_price_median,contract_price_sum,contract_price_median,num_of_unique_nipez_codes
company_id,contracting_authority_id,,,,,,,
1,1,7,7,16.38,0.00,337707.00,40000.00,1
2,1,3,2,202841.30,11897.00,90043.74,11896.74,2
3,1,1,1,130000.00,130000.00,130000.00,130000.00,1
4,1,7,7,58824.15,1560.90,218581.40,25000.00,1
5,1,34,33,1715061.10,1028.50,1484074.30,5493.40,4
...,...,...,...,...,...,...,...,...
3692,484,1,0,2368719.40,2368719.40,2176184.10,2176184.10,1
3693,64,1,1,1563320.00,1563320.00,1563320.00,1563320.00,1
3694,64,1,0,2124094.50,2124094.50,1563320.00,1563320.00,1
3695,64,1,0,2044163.32,2044163.32,1563320.00,1563320.00,1
3696,64,1,0,1867030.00,1867030.00,1563320.00,1563320.00,1